.Form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 10rem;
}

.Form-input {
  padding: 1rem;
  border-radius: $radius;
  border: none;
  margin-top: 1rem;
  width: 100%;
  display: block;
  background-color: rgba(255, 255, 255, 0.8);
  outline: none;
  color: $black;
}

.Form-submit {
  margin-top: 3rem;
  padding: 1rem 3rem;
  border-radius: $radius;
  border: none;
  text-transform: capitalize;
  color: $white;
  background: $dark;
  cursor: pointer;
}
