.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.fade {
  animation: fade 0.5s ease;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes favorite {
  0%,
  100% {
    top: -10%;
  }
  35% {
    top: 5%;
  }
  75% {
    top: 5%;
  }
}

.sun {
  height: 5rem;
  width: 5rem;
  border-radius: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
}

.sun::before {
  content: '';
  height: inherit;
  width: inherit;
  display: block;
  background-color: darkorange;
  border-radius: inherit;
  position: absolute;
  animation: sunrise-before 5s ease;
  animation-delay: 1s;
  top: -600%;
  z-index: -1;
}

@keyframes sunrise-before {
  0% {
    top: 0;
  }
  100% {
    top: -600%;
    background-color: orange;
  }
}

.sun::after {
  content: '';
  display: block;
  width: 100vw;
  left: 0;
  position: fixed;
  animation: sunrise-after 20s ease;
  z-index: -1;
  box-shadow: 0 0 25rem 30rem;
  color: $sky-blue;
}

@keyframes sunrise-after {
  0% {
    box-shadow: 0 0 1rem 1rem $black;
  }
  30% {
    color: darkorange;
  }
  35% {
    box-shadow: 0 0 25rem 30rem;
    color: rgb(93, 135, 162);
  }
  40% {
  }
  90% {
    color: $dark-blue;
  }
  100% {
    color: $sky-blue;
  }
}

.drop {
  height: 0.8rem;
  width: 1px;
  background-color: $light;
  position: fixed;
  top: -150%;
  animation: rain 5s linear 3;
  opacity: 0;
}

@keyframes rain {
  0% {
    opacity: 1;
  }
  50% {
    top: 99%;
    opacity: 0;
  }
  70% {
    opacity: 1;
    top: -150%;
  }
  100% {
    top: 99%;
    opacity: 0;
  }
}
