@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap');

$base: 'Plus Jakarta Sans', sans-serif;

$black: #151515;
$dark: #333;
$gray: #777;
$light: #ccc;
$white: #fafafafa;
$gold: #e5890a;
$sky-blue: #00beff;
$dark-blue: #00054d;

$radius: 0.5rem;

$border-1: 1px solid $gray;
$shadow: 0 0 0.5rem $dark inset;
